/*
 * Stick Sniper CSS file
 *
 * Author: Jeffri Hong
 * Author URI: http://jeffri.net
 */

html,body
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.stick
{
	width: 40px;
	height: 150px;
	position: absolute;
}
.stick .head
{
	width: 40px;
	height: 40px;
	background: #fff;
	border: 2px solid #000;
	border-radius: 22px 22px;
	-moz-border-radius: 22px 22px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -22px;
	text-align: center;
	line-height: 40px;
}
.stick .body
{
	width: 2px;
	height: 60px;
	background: #000;
	position: absolute;
	top: 42px;
	left: 50%;
	margin-left: -1px;
}
.stick .part
{
	width: 2px;
	height: 80px;
	position: absolute;
	top: 2px;
	left: 50%;
	margin-left: -1px;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
}
.stick .part div
{
	height: 50%;
	background: #000;
}
.stick .lefthand
{
	top: 2px;
	-webkit-transform: rotate(-160deg);
	-moz-transform: rotate(-160deg);
}
.stick.walk1 .lefthand
{
	-webkit-transform: rotate(-210deg);
	-moz-transform: rotate(-210deg);
}
.stick.walk2 .lefthand
{
	-webkit-transform: rotate(-150deg);
	-moz-transform: rotate(-150deg);
}
.stick .righthand
{
	top: 2px;
	-webkit-transform: rotate(160deg);
	-moz-transform: rotate(160deg);
}
.stick.walk1 .righthand
{
	-webkit-transform: rotate(220deg);
	-moz-transform: rotate(220deg);
}
.stick.walk2 .righthand
{
	-webkit-transform: rotate(150deg);
	-moz-transform: rotate(150deg);
}
.stick .leftfoot
{
	height: 100px;
	top: 52px;
	-webkit-transform: rotate(-160deg);
	-moz-transform: rotate(-160deg);
}
.stick.walk1 .leftfoot
{
	-webkit-transform: rotate(-210deg);
	-moz-transform: rotate(-210deg);
}
.stick.walk2 .leftfoot
{
	-webkit-transform: rotate(-150deg);
	-moz-transform: rotate(-150deg);
}
.stick .rightfoot
{
	height: 100px;
	top: 52px;
	-webkit-transform: rotate(160deg);
	-moz-transform: rotate(160deg);
}
.stick.walk1 .rightfoot
{
	-webkit-transform: rotate(210deg);
	-moz-transform: rotate(210deg);
}
.stick.walk2 .rightfoot
{
	-webkit-transform: rotate(150deg);
	-moz-transform: rotate(150deg);
}

#pointer
{
	width: 39px;
	height: 39px;
	border: 1px solid #000;
	border-radius: 21px 21px;
	-moz-border-radius: 21px 21px;
	position: fixed;
}
#pointer .x
{
	width: 39px;
	height: 1px;
	background: #000;
	position: absolute;
	top: 50%;
	left: 0;
}
#pointer .y
{
	width: 1px;
	height: 39px;
	background: #000;
	position: absolute;
	top: 0;
	left: 50%;
}