
@keyframes main-hair-disappear{
	0% {
		opacity: 1;
	}
	
	50% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes hair-circle-animate{
	/*marge hair-circle*/
	0% {
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	
	/*lisa (no hair-circle)*/
	50% {
		border-radius: 0%;
		-webkit-border-radius: 0%;
		-moz-border-radius: 0%;
	}
	
	/*marge hair-circle*/
	100% {
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
}

@keyframes hair-animate{
	/*marge hair*/
	0% {
		background: #107dc0;
	
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 0px;
		-webkit-border-top-left-radius: 0px;
		-moz-border-radius-topleft: 0px;
	}
	
	/*lisa hair*/
	50% {
		background: #fbd800;
	
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 2px;
		-webkit-border-top-left-radius: 2px;
		-moz-border-radius-topleft: 2px;
	}
	
	/*marge hair*/
	100% {
		background: #107dc0;
	
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 0px;
		-webkit-border-top-left-radius: 0px;
		-moz-border-radius-topleft: 0px;
	}
}

@keyframes hair1-animate{
	/*marge hair1*/
	0% {
		top: 1px;
		left: 37px;
		width: 17px;
		height: 10px;
		background: #107dc0;
		-webkit-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg);
		/*-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);*/
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	
	/*lisa hair1*/
	50% {
		top: 83px;
		left: 24px;
		width: 16px;
		height: 16px;
		background: #eeb011;
		transform: rotate(-45deg) skew(0deg, 14deg);
		-ms-transform: rotate(-45deg) skew(0deg, 14deg);
		-webkit-transform: rotate(-112deg) skew(0deg, 14deg);
		
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 2px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomleft: 0px;
		-moz-border-radius-bottomright: 0px;
	}
	
	/*marge hair1*/
	100% {
		top: 1px;
		left: 37px;
		width: 17px;
		height: 10px;
		background: #107dc0;
		-webkit-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg);
		/*-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);*/
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
}

@keyframes hair2-animate{
	/*marge hair2*/
	0% {
		top: 3px;
		left: 54px;
		width: 15px;
		height: 10px;
		background: #107dc0;
		-webkit-transform: rotate(28deg);
		-ms-transform: rotate(28deg);
		transform: rotate(28deg);
		/*-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);*/
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	
	/*lisa hair1*/
	50% {
		top: 83px;
		left: 24px;
		width: 16px;
		height: 16px;
		background: #eeb011;
		transform: rotate(-45deg) skew(0deg, 14deg);
		-ms-transform: rotate(-45deg) skew(0deg, 14deg);
		-webkit-transform: rotate(-112deg) skew(0deg, 14deg);
		
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 2px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomleft: 0px;
		-moz-border-radius-bottomright: 0px;
	}
	
	/*marge hair2*/
	100% {
		top: 3px;
		left: 54px;
		width: 15px;
		height: 10px;
		background: #107dc0;
		-webkit-transform: rotate(28deg);
		-ms-transform: rotate(28deg);
		transform: rotate(28deg);
		/*-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);*/
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
}

@keyframes hair3-animate{
	/*marge hair3*/
	0% {
		top: 12px;
		left: 66px;
		width: 15px;
		height: 10px;
		background: #107dc0;
		-webkit-transform: rotate(53deg);
		-ms-transform: rotate(53deg);
		transform: rotate(53deg);
		/*-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);*/
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	
	/*lisa hair1*/
	50% {
		top: 83px;
		left: 24px;
		width: 16px;
		height: 16px;
		background: #eeb011;
		transform: rotate(-45deg) skew(0deg, 14deg);
		-ms-transform: rotate(-45deg) skew(0deg, 14deg);
		-webkit-transform: rotate(-112deg) skew(0deg, 14deg);
		
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 2px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomleft: 0px;
		-moz-border-radius-bottomright: 0px;
	}
	
	/*marge hair3*/
	100% {
		top: 12px;
		left: 66px;
		width: 15px;
		height: 10px;
		background: #107dc0;
		-webkit-transform: rotate(53deg);
		-ms-transform: rotate(53deg);
		transform: rotate(53deg);
		/*-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);*/
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
}

@keyframes hair4-animate{
	/*marge hair4*/
	0% {
		top: 24px;
		left: 75px;
		width: 15px;
		height: 10px;
		-webkit-transform: rotate(68deg);
		-ms-transform: rotate(68deg);
		transform: rotate(68deg);
		-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	
	/*lisa hair2*/
	50% {
		top: 78px;
		left: 12px;
		width: 13px;
		height: 15px;
		transform: rotate(-88deg) skew(0deg, 14deg);
		-ms-transform: rotate(-88deg) skew(0deg, 14deg);
		-webkit-transform: rotate(-88deg) skew(0deg, 14deg);
		-webkit-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		-moz-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 2px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomleft: 0px;
		-moz-border-radius-bottomright: 0px;
	}
	
	/*marge hair4*/
	100% {
		top: 24px;
		left: 75px;
		width: 15px;
		height: 10px;
		-webkit-transform: rotate(68deg);
		-ms-transform: rotate(68deg);
		transform: rotate(68deg);
		-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
}

@keyframes hair5-animate{
	/*marge hair5*/
	0% {
		top: 38px;
		left: 82px;
		width: 16px;
		height: 10px;
		-webkit-transform: rotate(68deg);
		-ms-transform: rotate(68deg);
		transform: rotate(68deg);
		-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	
	/*lisa hair2*/
	50% {
		top: 78px;
		left: 12px;
		width: 13px;
		height: 15px;
		transform: rotate(-88deg) skew(0deg, 14deg);
		-ms-transform: rotate(-88deg) skew(0deg, 14deg);
		-webkit-transform: rotate(-88deg) skew(0deg, 14deg);
		-webkit-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		-moz-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 2px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomleft: 0px;
		-moz-border-radius-bottomright: 0px;
	}
	
	/*marge hair5*/
	100% {
		top: 38px;
		left: 82px;
		width: 16px;
		height: 10px;
		-webkit-transform: rotate(68deg);
		-ms-transform: rotate(68deg);
		transform: rotate(68deg);
		-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
}

@keyframes hair6-animate{
	/*marge hair6*/
	0% {
		top: 52px;
		left: 88px;
		width: 16px;
		height: 10px;
		-webkit-transform: rotate(68deg);
		-ms-transform: rotate(68deg);
		transform: rotate(68deg);
		-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	
	/*lisa hair2*/
	50% {
		top: 78px;
		left: 12px;
		width: 13px;
		height: 15px;
		transform: rotate(-88deg) skew(0deg, 14deg);
		-ms-transform: rotate(-88deg) skew(0deg, 14deg);
		-webkit-transform: rotate(-88deg) skew(0deg, 14deg);
		-webkit-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		-moz-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 2px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomleft: 0px;
		-moz-border-radius-bottomright: 0px;
	}
	
	/*marge hair6*/
	100% {
		top: 52px;
		left: 88px;
		width: 16px;
		height: 10px;
		-webkit-transform: rotate(68deg);
		-ms-transform: rotate(68deg);
		transform: rotate(68deg);
		-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
}

@keyframes hair7-animate{
	/*marge hair7*/
	0% {
		top: 66px;
		left: 94px;
		width: 15px;
		height: 10px;
		-webkit-transform: rotate(66deg);
		-ms-transform: rotate(66deg);
		transform: rotate(66deg);
		-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	
	/*lisa hair3*/
	50% {
		top: 57px;
		left: 4px;
		width: 18px;
		height: 18px;
		transform: rotate(-47deg) skew(0deg, 2deg);
		-ms-transform: rotate(-47deg) skew(0deg, 2deg);
		-webkit-transform: rotate(-47deg) skew(0deg, 2deg);
		-webkit-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		-moz-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 2px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomleft: 0px;
		-moz-border-radius-bottomright: 0px;
	}
	
	/*marge hair7*/
	100% {
		top: 66px;
		left: 94px;
		width: 15px;
		height: 10px;
		-webkit-transform: rotate(66deg);
		-ms-transform: rotate(66deg);
		transform: rotate(66deg);
		-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
}

@keyframes hair8-animate{
	/*marge hair8*/
	0% {
		top: 80px;
		left: 99px;
		width: 14px;
		height: 10px;
		-webkit-transform: rotate(79deg);
		-ms-transform: rotate(79deg);
		transform: rotate(79deg);
		-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	
	/*lisa hair3*/
	50% {
		top: 57px;
		left: 4px;
		width: 18px;
		height: 18px;
		transform: rotate(-47deg) skew(0deg, 2deg);
		-ms-transform: rotate(-47deg) skew(0deg, 2deg);
		-webkit-transform: rotate(-47deg) skew(0deg, 2deg);
		-webkit-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		-moz-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 2px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomleft: 0px;
		-moz-border-radius-bottomright: 0px;
	}
	
	/*marge hair8*/
	100% {
		top: 80px;
		left: 99px;
		width: 14px;
		height: 10px;
		-webkit-transform: rotate(79deg);
		-ms-transform: rotate(79deg);
		transform: rotate(79deg);
		-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
}

@keyframes hair9-animate{
	/*marge hair9*/
	0% {
		top: 93px;
		left: 101px;
		width: 15px;
		height: 10px;
		-webkit-transform: rotate(65deg);
		-ms-transform: rotate(65deg);
		transform: rotate(65deg);
		-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	
	/*lisa hair3*/
	50% {
		top: 57px;
		left: 4px;
		width: 18px;
		height: 18px;
		transform: rotate(-47deg) skew(0deg, 2deg);
		-ms-transform: rotate(-47deg) skew(0deg, 2deg);
		-webkit-transform: rotate(-47deg) skew(0deg, 2deg);
		-webkit-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		-moz-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
		
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 2px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomleft: 0px;
		-moz-border-radius-bottomright: 0px;
	}
	
	/*marge hair9*/
	100% {
		top: 93px;
		left: 101px;
		width: 15px;
		height: 10px;
		-webkit-transform: rotate(65deg);
		-ms-transform: rotate(65deg);
		transform: rotate(65deg);
		-webkit-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		-moz-box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		box-shadow: inset 0px 2px 0px 0px rgba(149,179,222,1);
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
}


/************************************************************/
/************************************************************/
/************************************************************/
/************************************************************/

@keyframes hairxxx-animate{
	/*marge hair*/
	0% {
		opacity: 1;
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	
	/*lisa hair*/
	50% {
		opacity: 0;
		
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 2px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomleft: 0px;
		-moz-border-radius-bottomright: 0px;
	}
	
	/*marge hair*/
	100% {
		opacity: 1;
		
		border-right: none;
		border-bottom: none;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
}