
@keyframes main-hair-disappear{
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@keyframes hair-animate{
	/*marge hair*/
	0% {
		background: #107dc0;
	}
	
	/*lisa hair*/
	50 % {
		border-right: none;
		border-bottom: none;
		border-top-left-radius: 2px;
		-webkit-border-top-left-radius: 2px;
		-moz-border-radius-topleft: 2px;
	}
	
	/*marge hair*/
	100% {
		background: #107dc0;
	}
}